#Blog .styleWrappingBox {
    height: 481px;
    border: 1px solid #eee;
    width: 90%;
    margin-top: 10%;
    margin-left: 4%;
}
#Blog .styleWrappingBox2 {
    height: 558px;
    border: 1px solid #eee;
    width: 90%;
    margin-top: 10%;
    margin-left: 4%;
}
#Blog .styleWrappingBox3 {
    height: 473px;
    border: 1px solid #eee;
    width: 90%;
    margin-top: 10%;
    margin-left: 4%;
}
#Blog .styleWrappingBox4 {
    height: 573px;
    border: 1px solid #eee;
    width: 90%;
    margin-top: 10%;
    margin-left: 4%;
}
#Blog .styleWrappingBox5 {
    height: 466px;
    border: 1px solid #eee;
    width: 90%;
    margin-top: 10%;
    margin-left: 4%;
}
#headOfPage .headingStyle {
    font-size: 27px;
    font-weight: bold;
    color: #333333;
    text-transform: uppercase;
    position: absolute;
    left: 25%;
    top: 36%;
}
