#headOfPage{

        height: auto;

}
#headOfPage .margin{
	margin-top: 30%;
}
#headOfPage .marginButtons{
  	margin-top: 3%;
  	margin-bottom: 0%;
  }
   #about .margin{
		margin-top: -5%;

}
#about .adjustWidth{
	width: 100%;
}
#about .styleText1{
 	font-weight: bold;
 	font-size: 16px;
 	line-height: 17px;
    margin-top: 14%;
 }
 #about .styleText2{
 	font-weight: bold;
 	font-size: 20px;
 	line-height: 22px;
 	letter-spacing: 2px;
 	color: #ffa400;
 	margin-top: 3%;
 }
  #about .styleText3{
 	font-size: 13px;
 	line-height: 24px;
 	margin-top: 3%;
 }

 #about .margin{
		margin-left: 9%;


}

#TESTIMONIALS .wrapper{
  margin-left: 30%;
}
.theColumn{
  width: auto; 
}
#Blog {
    height: 4159px;
}
#Blog .styleWrappingBox2 {
    height: 480px;
    border: 1px solid #eee;
    width: 90%;
    }
    #Blog .margin101{
        margin-top: 5%;
}
#Blog .marginTop {
    margin-top: -13%;
}
#Blog .marginTop1 {
    margin-top: -4%;
}
.boxAnimation6{
  animation: boxAnimation6 3s;
  -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);
}
@keyframes boxAnimation6{
  0%{
    opacity: 0;
    margin-top: 10%;
  }

  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    margin-top: 2%;
  }
}

#Blog .margin103{
  margin-top: 5%;
}
#Blog .styleWrappingBox {
    height: 565px;
    border: 1px solid #eee;
    width: 90%;
}
#Blog .styleWrappingBox2 {
    height: 710px;
    border: 1px solid #eee;
    width: 90%;
    }
    #Blog .margin101 {
    margin-top: 5%;
}
#Blog .styleWrappingBox3 {
    height: 577px;
    border: 1px solid #eee;
    width: 90%;
}
#Blog .styleWrappingBox4 {
    height: 704px;
    border: 1px solid #eee;
    width: 90%;
}
#Blog .marginTop {
    margin-top: 0%;
}
#Blog .styleWrappingBox5 {
    height: 600px;
    border: 1px solid #eee;
    width: 100%;
}
#headOfPage .headingStyle {
    font-size: 37px;
    line-height: 72px;
    font-weight: bold;
    color: #333333;
    text-transform: uppercase;
    position: absolute;
    left: 29%;
  text-align: center;
}
.btn-warning {
    color: #fff;
    background-color: #ffa400;
    width: 130px;
    height: 36px;
}
.btn-success {
    color: #fff;
    background-color: black;
    width: 130px;
    height: 36px;
}
.positionColumn2 {
    position: absolute;
    top: 57%;
    left: 49%;
    opacity: 0;
}


#Blog .marginTop2 {
    margin-top: 5%;
}
#Blog .styleWrappingBox5 {
    height: 600px;
    border: 1px solid #eee;
    width: 90%;
}